body{
  margin:0;
  background-color: hsl(218, 28%, 13%);
  color:#fff;
}

/*navigation bar*/
.navbar{
  padding: 30px 100px 30px 100px;
  display:flex;
  background-color: hsl(217, 28%, 15%);
}

.right-link{
  flex-basis: 1300px;
  text-align: right;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.navbar-link{
  margin-left: 50px;
  font-family: 'Raleway', sans-serif;
}

/*first page*/

.first-page{
  text-align: center;
  transition: 5s;
  background-color: hsl(217, 28%, 15%);
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.first-page-heading{
  font-family: 'Raleway', sans-serif;
  padding-left: 430px;
  padding-right: 430px;
}

.first-page-img{
  width: 550px;
  height: 400px;
}

.first-page-description{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  padding-left: 500px;
  padding-right: 500px;
  margin-top: 0;

}

.first-page-button{
  border-width: 3px;
  border-color: hsl(217, 28%, 15%);
  width: 250px;
  height: 50px;
  border-radius: 40px;
  margin-bottom: 50px;
  background-color: hsl(176, 68%, 64%);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color:#fff;
  opacity: 0.8;
  cursor: pointer;

}

.first-page-button:hover{
  opacity: 1;
  background-image: linear-gradient(to right,#fff,hsl(176, 68%, 64%));
}


/*second pages*/
.all-features{
  padding-left: 250px;
  padding-right: 250px;
  margin: 20px;
}

.features-head{
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.features-head-correction1{
  margin-top: 10px;
}

.features-head-correction2{
  margin-top: 7px;
}

.features-head-description{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2;
}

.features1, .features2{
  text-align: center;
  display:flex;
  flex-direction: row;
}

.up, .down, .up1, .up2{
  flex-basis: 50%;
  margin: 50px;
}

/*thirdpage*/
.third-page{
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 140px;
}

.third-page-img{
  width:700px;
  height:500px;
}

.left-img-description{
  position: relative;
  top: 50px;
}

.arrow-link{
  position: relative;
  top: 3px;
}



.third-page-head{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  line-height: 1.5;
}

.third-page-description{
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}

.fylo-third-link{
  font-family: 'Open Sans', sans-serif;
  text-decoration: None;
  color: hsl(176, 68%, 64%);
}

.third-link-underline{
  width: 170px;
  margin-left: 0;
  height: 1px;
  background-color: hsl(176, 68%, 64%);
  border-color: hsl(218, 28%, 13%);
}


/*for fourth pages*/

.backsreen-img{
  position: relative;
  left: 100px;
  top: 40px;
}

.comment1, .comment2, .comment3{
  margin: 25px;
}

.image-profiles{
  border-radius: 100%;
  width: 50px;
  height: 50px;

}

.fourth-page{
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 180px;
}

.comment{
  display: flex;
  padding-left: 70px;
  padding-right: 70px;

}

.comment1,.comment2,.comment3{
  background-color:hsl(219, 30%, 18%);
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  z-index: 1;
}

.profile{
  display: flex;
  align-items:center;
}

.information{
  margin: 10px;
}

.name{
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

.job{
  margin-top: 0;
}

.name, .job{
  font-size: 12px;
}

/*early access button*/

.container{
  position: absolute;
  z-index: 1;
}

.early-access{
  text-align: center;
  margin: 20px 400px 20px 400px;
  position: relative;
  background-color: hsl(217, 28%, 15%);
  padding: 10px 40px 0 40px;
  bottom: 160px;
}

.early-access-button{
  border-width: 3px solid;
  border-color: hsl(217, 28%, 15%);
  width: 185px;
  height: 50px;
  border-radius: 40px;
  margin-bottom: 50px;
  background-color: hsl(176, 68%, 64%);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color:#fff;
  opacity: 0.8;
  cursor: pointer;
}

#email{
  width: 400px;
  height: 40px;
  border-radius: 40px;
  margin-right: 10px;
}

.early-access-header{
  font-family: 'Raleway', sans-serif;
}

.early-access-description{
  font-family: 'Open Sans', sans-serif;
}


/*phone and adress and another link*/
.another-information{
  display: flex;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
}


.location,.number,.email-adress{
  float: left;
  margin-right: 20px;

}
.location{
  width: 20px;
  margin: 10px 20px 20px 0;

}
.number,.email-adress{
  width: 20px;
  height: 20px;
}


.address{
  width: 400px;
  margin-top: 50px;
  margin-right: 120px;
}

.address-phone{
  padding-left: 100px;
  padding-top: 180px;
  background-color: hsl(216, 53%, 9%);
  padding-bottom: 50px;
}

.phone-up{
  margin-top: 65px;
}

.email-phone{
  margin-right: 120px;
}

.social-media{
  margin-top: 65px;
  position: relative;
  left: 100px;
}

.social-media-logo{
  border: 2px solid;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}

.fa-facebook-f{
  padding: 10px 12px 10px 12px;
}

.fa-twitter{
  padding: 10px 8px 10px 8px;
}

.another-link{
  display: flex;
}

.right-side{
  margin-left: 20px;
}

.left-side{
  margin-right: 20px;
}


@media(max-width:1207px) and (min-width: 690px){
for padding
  .navbar{
    padding: 20px 0 10px 20px;
  }

  .logo-image{
    width: 95px;
    height: 31px;
  }

  .navbar-link{
    margin: 10px;
    font-size: 10px;
  }

  .right-link{
    padding-right: 10px;
  }


starting first page
  .first-page{
    text-align: center;
  }

  .first-page-img{
    width: 300px;
    height: 200px;
    margin-top: 70px;
  }
  .first-page-heading{
    font-size: 20px;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.5;
    margin-top: 50px;
  }

  .first-page-description{
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    line-height: 1.3;
  }

  .first-page-button{
    width: 200px;
    height: 40px;
    font-size: 10px;
  }

/*second-page*/

.all-features{
  padding: 0;
  margin: 0;
}

.features1, .features2{
  text-align: center;
  display: block;
}

.features-head{
  font-size: 20px;
}

.features-head-description{
  font-size: 13px;
}

/*third page*/
.third-page{
  display: block;
  padding: 0;
}

.third-page-img{
  width: 350px;
  height: 250px;
}

.left-img{
  text-align: center;
}

.third-page-head{
  font-size: 20px;
  text-align: center;
}

.third-page-description{
  font-size: 13px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.the-third-link{
  text-align: center;
}

.fylo-third-link{
  padding-left: 20px;
  font-size: 13px;
}

.third-link-underline{
  margin:auto;
  width: 140px;
}


/*fourth page*/
.fourth-page{
  padding: 0;
  display: flex;
  align-items:flex-start;
  justify-content: center;
}


.comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:15px;
  margin-bottom: 0;
}

.comment1,.comment2,.comment3{
  width: 400px;
  height: 150px;
  padding:25px;
  font-size: 14px;
}

.image-profiles{
  width: 40px;
  height: 40px;
}

.backsreen-img{
  position: relative;
  left: 40px;
  bottom: 130px;
  left: 100px;
  bottom: 80px;
  top: 0;
}

/*for early access*/

.container{
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.early-access{
  position: relative;
  text-align: center;
  margin:0;
  background-color: hsl(217, 28%, 15%);
  font-size: 11px;
  width: 300px;
  height: 250px;
  padding-bottom: 20px;
  top: 140px;
}


.early-access-header{
  font-size: 18px;
}

#email{
  width: 200px;
  height: 35px;
  margin: 13px 0;
}

.early-access-button{
  width: 210px;
  height: 40px;
}

/*for another link*/

.another-information{
  display: flex;
  flex-direction: column;
}

.address-phone{
  margin-top: 0;
  padding-left: 30px;
}

.footer-logo{
  width: 120px;
  height:40px;
}

.phone-up, .email-down{
  margin: 50px 0;
}

.number,.email-adress{
  width: 30px;
  height: 30px;

}

.location{
width: 30px;
height: 35px;
}

.address, .phone-up, .email-down{
  font-size: 16px;
  width: 320px;
}

.another-link{
  font-size: 16px;
}

  .social-media{
    left: 0;
  }

}


@media (max-width:690px){
  .navbar{
    padding: 20px 0px 20px 20px;
  }

  .logo-image{
    width: 120px;
    height: 40px;
  }

  .navbar-link{
    margin: 10px;
    font-size: 10px;
  }


/*starting first page*/
  .first-page{
    text-align: center;
  }

  .first-page-img{
    width: 300px;
    height: 200px;
    margin-top: 70px;
  }
  .first-page-heading{
    font-size: 20px;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.5;
    margin-top: 50px;
  }

  .first-page-description{
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    line-height: 1.3;
  }

  .first-page-button{
    width: 200px;
    height: 40px;
    font-size: 10px;
  }

/*second-page*/

.all-features{
  padding: 0;
  margin: 0;
}

.features1, .features2{
  text-align: center;
  display: block;
}

.features-head{
  font-size: 20px;
}

.features-head-description{
  font-size: 13px;
}

/*third page*/
.third-page{
  display: block;
  padding: 0;
}

.third-page-img{
  width: 350px;
  height: 250px;
}

.left-img{
  text-align: center;
}

.third-page-head{
  font-size: 20px;
  text-align: center;
}

.third-page-description{
  font-size: 13px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.fylo-third-link{
  padding-left: 20px;
  font-size: 13px;
  text-align: left;
}

.third-link-underline{
  margin-left: 20px;
  width: 140px;

}

/*fourth page*/
.fourth-page{
  padding: 0;
}


.comment{
  display: flex;
  flex-direction: column;
  padding:10px;
  margin-bottom: 150px;
}

.comment1,.comment2,.comment3{
  width: 230px;
  height: 200px;
  padding:25px;
  font-size: 14px;
}

.image-profiles{
  width: 40px;
  height: 40px;
}

.backsreen-img{
  position: relative;
  left: 40px;
  bottom: 130px;
  top: 50px;
}

/*for early access*/

.container{
  left: 35px;
  top: 3600px;
}

.early-access{
  text-align: center;
  margin:0;
  position: relative;
  background-color: hsl(217, 28%, 15%);
  font-size: 10px;
  width: 200px;
  height: 250px;
}


.early-access-header{
  font-size: 18px;
}

#email{
  width: 200px;
  height: 35px;
  margin: 13px 0;
}

.early-access-button{
  width: 210px;
  height: 40px;
}

/*for another link*/

.another-information{
  display: flex;
  flex-direction: column;
}

.address-phone{
  margin-top: 100px;
  padding-left: 30px;
}

.footer-logo{
  width: 120px;
  height:40px;
}

.phone-up, .email-down{
  margin: 50px 0;
}

.number,.email-adress{
  width: 30px;
  height: 30px;

}

.location{
width: 30px;
height: 35px;
}

.address, .phone-up, .email-down{
  font-size: 16px;
  width: 320px;
}

.another-link{
  font-size: 16px;
}

  .social-media{
    left: 0;
  }

}
}
